@use "../../styles/variables" as v;

.container {
  background-color: v.$main-black;
  color: aliceblue;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  display: flex;
  flex-direction: column;
  align-items: space-between;

  @media screen and (max-width: 678px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  color: v.$icon-grey;
}

.footer__col {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer__brand {
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: v.$bg-white;

  &:hover {
    color: v.$morini-gold;
  }
}
