@use "../../styles/variables" as v;

.container {
  background-color: v.$main-black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: space-between;

  @media screen and (max-width: 678px) {
    flex-direction: column;
  }
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto 2rem auto;

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .footer__brand {
      order: 3;
    }

    .footer__col {
      margin-bottom: 2rem;
    }
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  color: v.$icon-grey;
}

.footer__col {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer__brand {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 768px) {
    gap: 2rem;
  }
}

.moriniLogo {
  width: 140px;
}

.footer__contact {
  list-style: none;
  cursor: pointer;

  li {
    padding: 8px 0;
  }
}

.footer__link {
  text-decoration: none;
  color: v.$bg-white;
  padding: 8px 0;

  &:hover {
    color: v.$morini-gold;
  }
}
