@use "../styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  overflow: hidden;

  @media screen and (max-width: 999px) {
    padding: 0.5rem 1rem;
  }
}

.bike__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 80px 0;
}

.bike__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bike__logo {
  max-width: fit-content;
  margin-bottom: 2rem;
}

.bike__images {
  display: flex;
  margin-bottom: 2rem;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.bike__img {
  max-width: 50%;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 1000px) {
    // max-width: fit-content;
    max-width: 100%;
  }
}

.bike__button {
  background-color: v.$morini-gold;
  color: v.$bg-white;
  padding: 1rem 1.6rem;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    opacity: 70%;
  }
}
