@use "../styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  overflow: hidden;

  @media screen and (max-width: 999px) {
    padding: 0.5rem 1rem;
  }
}

.bike__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 80px 0;
}

.bike__heading {
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  color: v.$icon-grey;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.bike__heading:before,
.bike__heading:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid v.$morini-gold;

  @media screen and (max-width: 1150px) {
    width: 20%;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.bike__heading:after {
  margin: 0 -55% 0 0.5em;
}

.seiHead {
  margin: 3em 0;
}

.bike__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bike__logo {
  max-width: fit-content;
  margin-bottom: 1rem;
}

.bike__images {
  display: flex;
  margin-bottom: 1rem;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.bike__img {
  max-width: 50%;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 1000px) {
    max-width: 100%;
  }
}

.bike__button {
  background-color: v.$morini-red;
  color: v.$bg-white;
  padding: 1rem 1.6rem;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    opacity: 70%;
  }
}
